<div id="contact-info" style="display:none;">
    <div id="error_field"></div>
    <div>
    <%= f.fields_for :user do |builder| %> 
      <div class="header">
        <h1>Contact Info</h1>
      </div>

        <div class="house-details form-group-field">
          <div class="header">
              <h4>Name</h4>
          </div>
          <%= builder.text_field :name, :as => :user["name"], :id => "name_input", :placeholder => "Full name", :class => "contact-info-item", :required => true, :tabindex => 1, :autofocus => true,
           :value => current_user_value("name") %><br />
        </div>

        <div class="house-details form-group-field">
          <div class="header cleaning_address">
            <h4>Cleaning Address</h4>
          </div>

            <div class="address_fields">
            <%= builder.text_field :address, :as => :user["address"], :id => "street_address", :placeholder => "Street address", :class => "contact-info-item", :required => true, :tabindex => 2, :value => current_user_value("address") %><br />

              <div id="the_state" class="address_field">
                <%= builder.text_field :state, :as => :user["state"], :id => "state", :placeholder => "State", :class => "contact-info-item", :required => true, :tabindex => 4, :value => current_user_value("state") %><br />
              </div>

              <div id="the_city" class="address_field">
                <%= builder.text_field :city, :as => :user["city"], :id => "city", :placeholder => "City", :class => "contact-info-item", :required => true, :tabindex => 3, :value => current_user_value("city") %><br /> 
              </div>

              <div id="the_zipcode" class="address_field">
                <%= builder.text_field :zipcode, :as => :user["zipcode"], :id => "zipcode", :placeholder => "Zipcode", :class => "contact-info-item", :required => true, :tabindex => 5, :value => current_user_value("zipcode") %><br />
              </div>
            </div>

        </div>    

        <br>
          <div id="test">
        </div>

        <div class="header">
          <h5>We'll only contact you about your cleaning, promise :)</h5>
        </div>

        <div class="house-details form-group-field">
          <div class="header">
            <h4>Email</h4>
          </div>
          <%= builder.text_field :email, :as => :user["email"], :id => "email_input", :placeholder => "Email address", :class => "contact-info-item", :required => true, :tabindex => 6, :value => current_user_value("email") %><br />
        </div>

        <div class="house-details form-group-field">
          <div class="header">
            <h4>Phone</h4>
          </div>
          <%= builder.text_field :phone, :as => :user["phone"], :id => "phone_input", :placeholder => "(xxx) xxx-xxxx", :class => "contact-info-item", :required => true, :tabindex => 7, :value => current_user_value("phone") %><br />
        </div>


        <%= link_to "Next", '#schedule-time', :id => "contact-info-complete", :class => "next-step btn btn-block", :tabindex => 8 %>

    <% end %>  
    </div> 
  </div>