<div class="card-assurance" style="display:none;" >You won't be charged until the day of the cleaning, and you'll get a receipt immediately by email.
    </div>
    <%= image_tag "discover_64.png", :class => "card-icon", :style => "margin-top:25px; margin-left:10px;"%>
    <%= image_tag "american_express_64.png", :class => "card-icon", :style => "margin-top:25px; margin-left:0px;"%>
    <%= image_tag "mastercard_gold_64.png", :class => "card-icon", :style => "margin-top:25px; margin-left:0px;"%>
    <%= image_tag "visa_64.png", :class => "card-icon", :style => "margin-top:25px; margin-left:0px;"%>
    <%= image_tag "stripe.png", :class => "card-icon", :style => "margin-top:15px; margin-left:10px;"%>