
<%= form_for @booking,:html => { :id => "cleaning-form" } do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="booking-details" style="display:block;">
    <div class="header">
      <h1>Customize Your Cleaning</h1>
    </div>
        
        <div class="btn-group btn-group-lg house-details rooms">
            <div class="header">
              <h4>Bedrooms</h4>
            </div>
          
          <input type="hidden" id="bedroom-value" value="1 bedroom" name="booking[job][bedroom]"/>
          <div class="form-group-field btn-group bedroom roomcount">
            <button type="button" class="btn btn-success btn-number" onclick='setBedroomValue("1 bedroom")'>1</button>
            <button type="button" class="btn btn-number" onclick='setBedroomValue("2 bedrooms")'>2</button>
            <button type="button" class="btn btn-number" onclick='setBedroomValue("3 bedrooms")'>3</button>
            <button type="button" class="btn btn-number" onclick='setBedroomValue("4 bedrooms")'>4</button>
            <button type="button" class="btn btn-number" onclick='setBedroomValue("5+ bedrooms")'>5+</button>
          </div>
        </div>

      <div class="btn-group btn-group-lg house-details rooms">
          <div class="header">
            <h4>Bathrooms</h4>
          </div>

        <input type="hidden" id="bathroom-value" value="1 bathroom" name="booking[job][bathroom]"/>
        <div class="form-group-field btn-group">
          <button type="button" class="btn btn-success btn-number" onclick='setBathroomValue("1 bathroom")'>1</button>
          <button type="button" class="btn btn-number" onclick='setBathroomValue("2 bathrooms")'>2</button>
          <button type="button" class="btn btn-number" onclick='setBathroomValue("3+ bathrooms")'>3+</button>
        </div>
      </div>

      <div class="btn-group btn-group-lg house-details" id="extras">
          <div class="header extras">
            <h4>Extras</h4>
          </div>
        <div id="house-extras">

          <input type="hidden" id="extras-value" value="" name="booking[job][extras]"/>
          <div class="form-group-field btn-group">
            <button type="button" class="btn" onclick='setExtrasValue("Fridge")'>Fridge</button>
            <button type="button" class="btn" onclick='setExtrasValue("Oven")'>Oven</button>
            <button type="button" class="btn" onclick='setExtrasValue("Inside Cabinets")'>Inside Cabinets</button>
          </div>
          <div class="form-group-field btn-group">
            <button type="button" class="btn interior" onclick='setExtrasValue("Interior Windows")'>Interior Windows</button>
            <button type="button" class="btn interior" onclick='setExtrasValue("Interior Walls")'>Interior Walls</button>
          </div>
        </div>
      </div>

    <div class="house-details btn-group hours">  
      <div class="header">
        <h4>Recommended Hours (2 minimum)</h4>
      </div>
      <div id="hour-dropdown">
        <%= f.select :hours, (2..13), :as => :booking["hours"] %>
      </div>
    </div>



      <%= link_to "Next", 'javascript:void(0)', :id => "booking-details-complete", :class => "btn btn-success btn-block" %>
  </div>

  <div id="contact-info" style="display:none;">
    <div id>
    <%= f.fields_for :user do |builder| %> 
      <div class="header">
        <h1>Contact Info</h1>
      </div>
        
        <div class="house-details form-group-field">
          <div class="header">
              <h4>Name</h4>
          </div>
          <%= builder.text_field :name, :as => :user["name"], :placeholder => "Full name"  %><br />
        </div>

        <div class="house-details form-group-field">
          <div class="header cleaning_address">
            <h4>Cleaning Address</h4>
          </div>

            <div class="address_fields">
            <%= builder.text_field :address, :as => :user["address"], :id => "street_address", :placeholder => "Street address" %><br />
              
              <div id="the_state" class="address_field">
                <%= builder.text_field :state, :as => :user["state"], :id => "state", :placeholder => "State" %><br />
              </div>

              <div id="the_city" class="address_field">
                <%= builder.text_field :city, :as => :user["city"], :id => "city", :placeholder => "City" %><br /> 
              </div>

              <div id="the_zipcode" class="address_field">
                <%= builder.text_field :zipcode, :as => :user["zipcode"], :id => "zipcode", :placeholder => "Zipcode" %><br />
              </div>
            </div>

        </div>    
        
        <br>
          <div id="test">
        </div>

        <div class="header">
          <h5>We'll only contact you about your cleaning, promise :)</h5>
        </div>
        
        <div class="house-details form-group-field">
          <div class="header">
            <h4>Email</h4>
          </div>
          <%= builder.text_field :email, :as => :user["email"], :placeholder => "Email address" %><br />
        </div>

        <div class="house-details form-group-field">
          <div class="header">
            <h4>Phone</h4>
          </div>
          <%= builder.text_field :phone, :as => :user["phone"], :placeholder => "(xxx) xxx-xxxx" %><br />
        </div>


        <%= link_to "Next", '#schedule-time', :id => "contact-info-complete", :class => "btn btn-success btn-block" %>

    <% end %>  
    </div> 
  </div>

  <div id="schedule-time" style="display:none;">
    <div class="header">
      <h1>Schedule a time</h1>
    </div>

      <div id="datepicker"></div>

      <%= link_to "Next", '#payment-info', :id => "schedule-time-complete", :class => "btn btn-success btn-block" %>
  </div>

  <div id="payment-info" style="display:none;">
    <div class="header">
      <h1>Payment info</h1>
    </div>

    <div class="house-details form-group-field">
      <div class="header">
        <h4>Credit Card Number</h4>
      </div>
      <%= text_field_tag :card_number, nil, name: nil, :placeholder => "Card Number", :data => {:stripe => 'number' }%>
    </div>

    <div class="house-details form-group-field">
      <div class="header">
        <h4>Card security code (CVC)</h4>
      </div>
      <%= text_field_tag :card_code, nil, name: nil, :placeholder => "3 or 4 digits", :data => {:stripe => 'cvc' }%>
    </div>

    <div class="house-details form-group-field">
      <div class="header expiration_date">
        <h4>Expiration date</h4>
      </div>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", :data => {:stripe => 'exp-month' } }  %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :data => {:stripe => 'exp-year' } } %>
    </div>

      <%= link_to "Next", '#finalize-booking', :id => "payment-info-complete", :class => "btn btn-success btn-block" %>

  </div>
  <div id="finalize-booking" style="display:none;">

  <div class="header">
      <h1>Review order</h1>
  </div>
  <div class="confirmations-details">
    <div class="confirmation">
        <h3 id="confirmation-time"></h3>
      <div class="time-container">
        <h4 id="confirmation-hours"></h4>
        <h4 id="booking-price" class="details"></h4>
        <h4 id="confirmation-supplies">Supplies cost:</h4>
        <h4 id="supply-cost" class="details">+$<%= supply_price %></h4>
        <h4 id="confirmation-total">Total:</h4>
        <h4 id="confirmation-amount"></h4>
      </div>
    </div>

    <div class="confirmation">
      <h2 class="confirmation-header">Home Info</h2>
      <h3 id="confirmation-address"></h3>
      <h3 id="confirmation-city-state-zip"></h3>

      <h3 id="confirmation-bedrooms"></h3>
      <h3 id="confirmation-bathrooms"></h3>


      <h3 id="confirmation-extras"></h3>
    </div>

    <div class="confirmation">
      <h2 class="confirmation-header">Your Info</h2>
      <h3 id="confirmation-name"  class="confirmation-contact-info"></h3>
      <h3 id="confirmation-email" class="confirmation-contact-info"></h3>
      <h3 id="confirmation-phone" class="confirmation-contact-info"></h3>
    </div>
  </div>
  

  
    <%= f.submit "Book cleaning", :class => "btn btn-success btn-block", :id => "finalize-booking-button" %>
  </div>

  

<% end %>
