<%= stylesheet_link_tag "home" %>
  
  <div id="billboard">
    <div class="trcontainer clearfix">
      <div class="bill-left">
      <h1>Get your home cleaned</h1>
      <ul class="checkmark">
        <li>&#x2713; Easy online scheduling</li>
        <li>&#x2713; Every cleaner background checked</li>
        <li>&#x2713; Every cleaner bonded &amp; insured</li>
        <li>&#x2713; 100% Satisfaction Guaranteed</li>
      </ul>
      <%= button_to "Book a cleaning", new_booking_path, :method => :get, :id => "book", :class => "btn btn-large btn-success" %>
      </div>
      
      <div class="bill-image" >
        <b><%= image_tag "cleaning.jpg", :id => "billboard-image" %></b>
      </div>
    </div>
  </div><!-- #billboard -->
  
  <div id="happiness">
    <div class="trcontainer clearfix">
      <ul>
        <li><%= image_tag "clean-house-1.jpg" %></li>
        <li><%= image_tag "clean-house-6.jpg" %></li>
        <li><%= image_tag "clean-house-3.jpg", :id => "house-3" %></li>
      </ul>
      <h2>Happiness Guaranteed</h2>
      <p>If you're not happy with your place when we're done, we'll come back and clean it for free.</p>
    </div>
  </div>
  
  <div id="trio">
    <div class="trcontainer clearfix">
      <ul>
        <li>
            <h4>No hidden costs</h4>
            <p>All the cleaning supplies are on us. And our certified cleaners won't haggle you or try to upsell you stuff.</p>  
        </li>
        <li>
            <h4>Certified Cleaners</h4>
            <p>Each of our certified cleaners is background checked and bonded and insured. We connect you with professional cleaners who pass our high standards of cleaning.</p>
        </li>
        <li>
            <h4>Relaxing</h4>
            <p>You don't even have to be home for the cleaning. Let us do the hard work while you enjoy some well-deserved spare time.</p>
        </li>
      </ul>
    </div>
  </div>
  
  <%#= render "layouts/footer_images" %>
  <%= render "layouts/footer" %>