<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Mint&egrave;h - Fresh Landing Page</title>
        <meta name="description" content="">
        <meta name="author" content="">


        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


       <!-- Include GOOGLE Webfonts -->

       <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

        <!-- Include CSS Resources -->

        <link href="assets/bootstrap.min.css" rel="stylesheet">
        <link href="assets/theme.css" rel="stylesheet">
        <link href="assets/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="assets/font-awesome.css" rel="stylesheet">

        <title>CleanIt</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "https://js.stripe.com/v2/" %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>

        <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
        
        <script type="text/javascript">
            Stripe.setPublishableKey('pk_test_D8QJoVNlDzFFBB3Mx5xC449q');
        </script>

        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOXhJnCy9dZDKeNdy-tXBoxhQy-don5CE&libraries=places&sensor=false">
        </script>

        
    </head>